section h3.section-subheading{
	text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
.btn-xl{
	background-color: #4a818c;
    border-color: #4a818c;
}
.navbar-custom .navbar-brand{
	color: #cc3335;
}
.navbar-custom .navbar-nav > .active > a{
	background-color: #4a818c;
}
.navbar-custom .navbar-nav > .active > a:hover{
	background-color: #4a818c;
}
.text-primary {
    color: #c23234;
}
section h2.section-heading{
	color: #c23234;
}
.navbar-custom .navbar-toggle{
	background-color: #c23234;
    border-color: #c23234;
}
img.img-circle.img-responsive{
	margin: auto;
}
.format-product{
	text-align: center;
	margin-bottom: 1%;
}
.format-product-detail>h5{
	color: #4a818c;
	font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.format-product-detail:hover>h5{
	color: #c23234;
}
.format-product-detail:hover{
	border-bottom: 2px solid;
    border-bottom-color: #c23234;
    /*background: transparent;*/
}
.format-li{
	width: 50%;
    float: left;
    background-color: #c23234;
    padding: 1%;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
li.format-li.active {
    background: #4a818c;
}
li.format-li-vt.active {
    background: #4a818c;
}
.format-li-vt{
	width: 33%;
    float: left;
    background-color: #c23234;
    padding: 1%;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    font-size: 20px;
    color: #fff;
    text-align: center;
}